# dependencies
/node_modules

# ide
/.idea

# testing
/coverage

# production
/dist
/tmp
/.circleci

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.twbuild/

twapp/service.json